@import '../components/sideBar/AdminSidebar.css'; 
@import './AdminDashboard.css'; 

.page-title {
    color: #4d2e01 !important; /* A darker, softer grey for the text */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) !important; /* Subtle shadow effect */
    letter-spacing: 0.5px; /* Slightly increase spacing between letters */
    font-weight: 700; /* Ensure it's bold */
    padding-bottom: 10px; /* Add some space below the title */
    border-bottom: 2px solid #d4a373 !important; /* A subtle underline using your accent color */
    display: inline-block; /* Essential for border-bottom to fit content width in text-center */
}